body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 30px;
    background-color: #000;
    background-image: url('../images/codebg.avif'); 
    background-size: cover;
    background-position:center; 
    background-repeat: repeat; 
    height: 100vh; <!--This is used to set the height of the website-->

}
header {
    background: rgba(51, 51, 51, 0.8);
    color: rgb(208, 208, 241);
    padding: 1rem;
    text-align: center;
    border-radius: 4rem;
}
h1 {
    text-align: center;
    color: white;
}
nav ul { /* unordered list */
    list-style: none; /* removes the bullet points, keeping the list structure intact*/
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline; /* makes items appear in a row */
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none; /* removes the underline */
    font-size: 20px;
}
.paragraph-panel {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5rem;

    
}

.content {
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    .profile-pic {
        width: 10%;
        height: 120px;
        object-fit:cover;
        border-radius: 50%;
        border: 5px solid white;
        margin: 0 auto;
    }

    .center-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        text-align: left;
    }
    .container {
        width: 190px;                   
        background-color: #f1f3f1; 
        display: flex;         
        justify-content: center;     
        color: rgb(17, 0, 0);         
        font-size: 15px;       
         
        
    }
    .box {
       background-color: #f1f3f1;
       padding: 1.4rem;
       border-radius: 4rem;
       
    }

  
}

footer {
    text-align: center;
    color: white;
    margin-top: 80px;
    background: rgba(51, 51, 51, 0.8);
    .white-link {color: white;}
    padding: 1rem;
    border-radius: 4rem;
}
footer p {
    font-size: 15px;
    line-height: 1.5;
    color:white;
    margin: 0;
    padding: 0.4rem;
}
.video-container{
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;   
}
.video-container video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 4rem;

}
@media (max-width: 401px) {
    body {
        padding: 0.4rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    nav ul li a {
        font-size: 1rem;
    }
    nav ul li {
        margin: 0 0.5rem;
    }
    .paragraph-panel {
        padding: 0.2rem;
    }
}

.contact-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 
    font-family: Arial, sans-serif;
}


.contact-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: black
}


.contact-form input {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid white
    border-radius: 5px;
    font-size: 16px;
}


.contact-form input:focus {
    border-color: blue
    outline: none;
    box-shadow: 0 
}


.contact-form button {
    width: 40%;
    padding: 10px;
    background-color: blue
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: lightskyblue
}
      
